    body{ /* This is an example of a tag selector */ 
        font-family: Calibri, sans-serif;
        background-color: #FBC687; 
        margin: 0 auto;
        width: 70%;
        padding: 20px;

        }



    h1 {
            text-align: center;
            font-size: 3em;
            margin: 0;    
        }

    header img { 
                width: 9em;
                height: 7em;
        
            }
     

     nav li { 
         
        display: inline-block;
        margin-right: 25px;
        font-size: 1.2em;
        font-family: sans-serif;
         
         
        }
     nav {
         background-color: #EA907A;
         border: 1px solid black;
         margin: 1em;
         padding: 2em;  
        
     }
     
     
     nav a {
    
        text-decoration:none; 
        color: black;
        font-size: 1.3em;
        margin-left: 3em;
        }      
     
     
     #contactUs{ /* This is an example of a ID selector */ 
         
         background-color: #AACDBE;
         text-align: center;
         margin-right: 20em;
         margin-left: 20em;
         max-width: 39em; 
         margin: 0 auto; 
         
        }
     

  
      form  {
         
         background-color: #F4F7C5;
         text-align: center;
         margin: 0 auto;
         width: 50em;
         padding-top: 1.5em;
         padding-bottom: 1.5em;
         border: 1px solid black;
        
           
     }


      form ul {
                
         list-style: none;  
         padding: 0;     
     }

        
            
      form  {
         
        margin-bottom: 1.7em;

        }

        form input {/* This is an example of a compound selector */ 
    
            box-sizing: border-box;  
            margin-top: 0.5em;
            max-width: 10em
        }

         
        form select {
                margin-left: 25em;
                margin-right: 25em; /* This is an example of margin */ 
                background-color: antiquewhite;
                max-width: 100%;
    
        }
        
        .Name {display: flex;}

        label {margin-right: 1em;}
     
        .info {display: flex;}
        
        .yesOrNo{
                display: flex;
                justify-content: center;
                }


        .col1 label { 
        color: darkred; 
        }




         .info,.yesOrNo {
         
         border: 1px solid green;
         width: 23em;
         text-align: center;
         margin: 0 auto;  
         align-items: center;
         margin-bottom: 1.7em;      
        }
     

       .Name{/* This is an example of a class  selector */ 
                  
         width: 23em;
         text-align: center;
         margin: 0 auto;  
         align-items: center;
         margin-bottom: 1.7em;}


       img {
            width: 260px;
            height: 210px;
            max-width: 100%;
            margin-right: 10px;
            }


         .history,
         .peopleAndSociety,
         .Geography { /* This is an example of a Group  selector */ 
             
            border-radius: 20px;
            margin-bottom: 20px;
            padding-top: 2em;
            padding-bottom: 2em;
            padding-right: 4em; /* This is an example of padding */ 
            padding-left: 4em; 
            margin-top: 1.5em;
            margin-bottom: 1.5em;
            border: 2px solid black; /* This is an example of a border  */ 
            background-color: lemonchiffon;
            
            
            
            }

         .history p {
            font-size: 1.2em;
            line-height: 1.5;
            text-align: justify;
            }


          .peopleAndSociety  h3,
          .Geography  h3 {
            font-weight: bold; 
            font-size: 1.3em;
                     }

    
        

         table {
                border-collapse: collapse;
                width: 30%;
                max-width: 800px;
                background-color: white;
            }
     
          th, td {
                border: 1px solid black;
                padding: 4px;
                text-align: left;
            }

             p, history { 
              
              
              font-size: 1.2em; 
              
                }

            footer,table {
                bottom: 0;
                text-align: center;
                padding-top: 0.5em;
                padding-bottom: 0.5em;
                          
            }


            footer{
                
                background-color:#AACDBE; 
                text-align: center;
                margin-right: 4em;
                margin-left: 4em;
                border-radius: 10px;
            }
        
         